/* Dark mode colors.*/
:root {
	--sl-color-accent-low: #2f2200;
	--sl-color-accent: #846500;
	--sl-color-accent-high: #e2c584;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #f8e9ed;
	--sl-color-gray-2: #cebdc1;
	--sl-color-gray-3: #a1828a;
	--sl-color-gray-4: #6b4f57;
	--sl-color-gray-5: #4a2f37;
	--sl-color-gray-6: rgb(54, 8, 17);
	--sl-color-black: #1b050c;
}

/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #f6cfa8;
	--sl-color-accent: rgb(107, 34, 58);
	--sl-color-accent-high: #492a00;
	--sl-color-white: #271017;
	--sl-color-gray-1: #441225;
	--sl-color-gray-2: #582436;
	--sl-color-gray-3: #7c4456;
	--sl-color-gray-4: #b47789;
	--sl-color-gray-5: #d9b8c1;
	--sl-color-gray-6: #ffe6e8;
	--sl-color-gray-7: #fff3f6;
	--sl-color-black: #ffffff;
}

/* Dark mode colors. */
:root {
	--sl-color-accent-low: #341f00;
	--sl-color-accent: #905e00;
	--sl-color-accent-high: #edc086;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #ffe7e6;
	--sl-color-gray-2: #eec9c6;
	--sl-color-gray-3: #e0dcdc;
	--sl-color-gray-4: #9d242b;
	--sl-color-gray-5: #6f0012;
	--sl-color-gray-6: #350107;
	--sl-color-black: #1b0203;
}

.site-title {
	gap:0;
}
img:where(.astro-m46x6ez3) { 
	/* height: calc(var(--sl-nav-height) - 2* var(--sl-nav-pad-y)); */
	height: 80px;
}

.fediverse-status {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	max-width: min(80vw, 40rem);
	border-radius: 0.5rem;
	border-width: 1px;
	border-color: rgba(128, 128, 128, 1);
	border-style: solid;
	box-sizing: content-box;
	margin-left: auto;
    margin-right: auto;
	margin-bottom: 1rem;
}

.fediverse-status::before, .fediverse-status::after {
	box-sizing: content-box;
}
/*
 Emoji in user display names and image content are converted to images,
 which should be rendered at the same size (height) as the content.
 Those are both 1rem high, so we limit the height of emoji to 1rem.
*/
.fediverse-status .emoji {
	max-height: 1rem;
}

.fediverse-status header, .fediverse-status footer, .fediverse-status main {
	box-sizing: content-box;
	padding-left: 0.25rem;
	padding-right: 0.25rem;
	width: 100%;
}

.fediverse-status header, .fediverse-status footer {
	padding-top: 0.25rem;
}


/*
	Common traits of both the header and the footer of a status.
*/
.fediverse-status header, .fediverse-status footer {
	background-color: rgba(128, 128, 128, 0.1);
	/* data placed in a row */
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	/* separated by small gaps */
	gap: .5rem;
}
/* Links within headers and footers should not be underlined */
.fediverse-status header a, .fediverse-status footer a {
	text-decoration: none;
	box-shadow: none;
	justify-content: flex-start;
}

.fediverse-status header a {
	color: inherit;
}

.fediverse-status footer {
	/* footer content is less critical, so in a smaller font */
	align-items: baseline;
	font-size: 0.75rem;
}

.fediverse-status main {
	/* background-color: rgba(128, 128, 128, 0.05); */
	/* pad left to align with header/footer content, but do not pad right (go to edge) */
	/* pad top and bottom */
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

/* use small margins for content */
.fediverse-status main p {
	margin: 0;
	margin-top: .25rem;
}
/* no need to separate the first paragraph from the non-existent ones above it */
.fediverse-status main p:first-child {
	margin-top: 0;
}

/*
	The avatar image representing the comment's author
*/
.fediverse-status header picture, .fediverse-status header img {
	/* restrict size by limiting height */
	height: 3rem;
	border-radius: 1.5rem;
}

.fediverse-status header .post-author {
	/* put the display name above the fediverse id, with both formatted to the left margin */
	display: flex;
	flex-direction: column;
	align-items: start;
}

.fediverse-status .post-authors-display-name {
	/* Boldface the author's display name to make it salient */
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.fediverse-status header .post-authors-fediverse-identity {
	/* create a card-appearance with a gentle background color and rounded corners */
	background-color: rgba(128,128,128, 0.125);
	border-radius: 0.5rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

/* De-emphasize the parts of the author's identity other than their username */
.fediverse-status authors-fediverse-, .fediverse-status .at-symbol {
	color: rgba(128,128,128, 0.75)
}

.fediverse-status footer .counter-favourites::before {
	content: "★";
	color: inherit;
	margin-inline-end: .25em;          
}

.fediverse-status footer .counter-reblogs::before {
	/* copied from Mastodon website */
	content: "🔁";
	margin-inline-end: .25em;
	max-height: 0.75rem;
}

.fediverse-status footer .counter-replies::before {
	content: "💬";
	color: inherit;
	margin-inline-end: .25em;          
}

/**
	Center attached media and scale down to size of toot
*/
.fediverse-status .fediverse-attachment {
	max-width: min(80vw, 40rem);
	object-fit: contain;
	box-sizing: content-box;
	border-radius: 0;
	margin: 0;
	padding-top: 0.5rem;
	display: block;
  margin-left: auto;
  margin-right: auto;
	width: 100%;
}

@media (min-width: 800px) {
	img:where(.astro-m46x6ez3) { 
		height:100px;
		padding-right: 0;
		margin-right: 0;
	}

	img:where(.astro-m46x6ez3):hover { 
		transform: translateY(5px);
	} 

.mastodon-embed {
	color: black;
}
	
}