/* Dark mode colors.*/
:root {
	--sl-color-accent-low: #2f2200;
	--sl-color-accent: #846500;
	--sl-color-accent-high: #e2c584;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #f8e9ed;
	--sl-color-gray-2: #cebdc1;
	--sl-color-gray-3: #a1828a;
	--sl-color-gray-4: #6b4f57;
	--sl-color-gray-5: #4a2f37;
	--sl-color-gray-6: rgb(54, 8, 17);
	--sl-color-black: #1b050c;
}

/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #f6cfa8;
	--sl-color-accent: rgb(107, 34, 58);
	--sl-color-accent-high: #492a00;
	--sl-color-white: #271017;
	--sl-color-gray-1: #441225;
	--sl-color-gray-2: #582436;
	--sl-color-gray-3: #7c4456;
	--sl-color-gray-4: #b47789;
	--sl-color-gray-5: #d9b8c1;
	--sl-color-gray-6: #f4e6ff;
	--sl-color-gray-7: #fff3f6;
	--sl-color-black: #ffffff;
}

