---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import { isInputError } from "astro:actions";
import { actions } from "astro:actions";

const result = Astro.getActionResult(actions.send);
if (result?.data) {
  return Astro.redirect("/");
}

const inputErrors = isInputError(result?.error) ? result.error.fields : {};

export const prerender = false

if (result?.error) {
  console.log(result.error)
}
---
<StarlightPage frontmatter={{ title: 'Contact' }}>

<h1>Send me an email</h1>
<form action={actions.send} method="post">
  <label
        >Name<input
          type="text"
          name="username"
          placeholder="Username"
          required
          aria-describedby={inputErrors.username ? "username-error" : undefined}
        />
      </label><br>
      {
        inputErrors.username && (
          <p id="username-error">{inputErrors.username[0]}</p>
        )
      }
      <label
        >Email<input
          type="email"
          name="email"
          placeholder="Email"
          required
          aria-describedby={inputErrors.email ? "email-error" : undefined}
        />
      </label><br>
      {inputErrors.email && <p id="email-error">{inputErrors.email[0]}</p>}

      <label for="comment">Leave a comment:</label><br>
        <textarea id="comment" name="comment" rows="4" cols="50">
        </textarea><br>

  <button>Send</button>
</form>

</StarlightPage>