---
// import { isInputError } from "astro:actions";
// import { actions } from "astro:actions";

// const result = Astro.getActionResult(actions.send);
// if (result?.data) {
//   return Astro.redirect("/");
// }

// const inputErrors = isInputError(result?.error) ? result.error.fields : {};
export const prerender = false
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Resend</title>
  </head>
  <body>
    <h1>Send me an email</h1>
    <form action="../api/send-on-button-press">
      <button>Send</button>
    </form>
  </body>
</html>