---
---
<p class="title">Astro Webrings</p>
<div class="badges">
    <a href="https://astro-webrings.lou.gg/next?site=sarah11918&ring=built-with-astro">
    <img src="https://astro-webrings.lou.gg/_astro/built-with-astro.ZeMNzKwy_2a91sG.webp" alt="Astro Built with Astro webring badge" width="88" height="31" />
    </a>
    <a href="https://astro-webrings.lou.gg/next?site=sarah11918&ring=friends-of-houston">
    <img src="https://astro-webrings.lou.gg/_astro/friends-of-houston.BfnM847t_NxJJe.webp" alt="Astro Friends of Houston webring badge" width="88" height="31" />
    </a>
</div>

<style>
.title {
    text-align: center;
    margin-bottom: 0;
    font-weight: 800;
}
.badges {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
  }
  </style>